<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @button.content %>
</p>

<p>
  <strong>Glyph:</strong>
  <%= @button.glyph %>
</p>

<p>
  <strong>Must:</strong>
  <%= @button.must %>
</p>

<p>
  <strong>Must not:</strong>
  <%= @button.must_not %>
</p>

<%= link_to 'Edit', edit_button_path(@button) %> |
<%= link_to 'Back', buttons_path %>
