<% if user_signed_in? %>
   
    <div class="app-wrapper">
        <div class="b-header">
                <b class="user">
                    
                </b>
                <span class="btn btn-info glyphicon glyphicon-wrench">
                </span>
                <span>
                    <%= link_to "LogOut", destroy_user_session_path, 
                        :method => :delete, 
                        :class => "btn btn-danger glyphicon glyphicon-user" %>
                </span>
        </div>

        <div class="b-sidebar">
            <div class="title">Info</div>
            <div class="info">
                <ul class="list-unstyled">
                    <li>Description:</li>
                    <li>DateStart:</li>
                    <li>PM:</li>
                    <li>Role:</li>
                </ul>
                
            </div>
        </div>

        <div class="b-main">
            
        </div>
    </div>

    <% else %>
       <%= link_to "Sign up", new_user_registration_path %> or 
       <%= link_to "sign in", new_user_session_path %>

<%end%>

<script>
  var users = new Backbone.Collection;
  users.reset(<%= @users = User.find(params[:id] = 1).to_json %>);
  // var projects = new Backbone.Collection;
  // projects.reset(<%= @projects.to_json(:collaborators => true) %>);

  console.log(users);
</script>
